
<section>
  <h1 class="logo"></h1>
</section>

<div class="hub">
  <h4>{{"account.forget_pwd" | translate}}</h4>
  <p>{{"account.send_description" | translate}}</p>
  <p class="register">
    <label for="register_email">{{"account.register_email" | translate}}</label>
    <input class="field" id="register_email" />
    <button
      *ngIf="!sent"
      tuiBtn="primary"
      (click)="sendLink()"
    >{{"account.send_submit" | translate}}</button>
    <button
      *ngIf="sent"
      tuiBtn="default"
    >{{"account.resend" | translate}} ({{to}})</button>
  </p>
</div>
