<form
  [formGroup]="myForm"
  (ngSubmit)="onSubmit(myForm.value)"
  class="mid"
>
  <div
    [class.error]="!myForm.get('oldPassword').valid && myForm.get('oldPassword').touched"
  >
    <div class="field-box">
      <label for="passwordId"><span>*</span>{{'原密码' | translate}}</label>
      <input
        class="field"
        type="password"
        id="passwordId"
        autocomplete="off"
        [formControl]="myForm.controls['oldPassword']"
        [(ngModel)]="params.oldPassword"
        />
    </div>

    <div
      *ngIf="myForm.controls['oldPassword'].hasError('required') && myForm.controls['oldPassword'].touched"
      class="message"
    >{{'必填' | translate}}</div>
  </div>

  <div
    [class.error]="!myForm.get('newPassword').valid && myForm.get('newPassword').touched"
  >
    <div class="field-box">
      <label for="newPasswordId"><span>*</span>{{'新密码' | translate}}</label>
      <input
        class="field"
        type="password"
        id="newPasswordId"
        autocomplete="off"
        [formControl]="myForm.controls['newPassword']"
        [(ngModel)]="params.newPassword"
      />
    </div>

    <div
      *ngIf="(myForm.controls['newPassword'].hasError('invalidCompare') || myForm.controls['newPassword'].hasError('pattern')) && myForm.controls['newPassword'].touched"
      class="message"
    >{{'新密码必填,须不同于原密码,由8-20位字母、数字或符号组成' | translate}}</div>
  </div>

  <div
    [class.error]="!myForm.get('confirm').valid && myForm.get('confirm').touched"
  >
    <div class="field-box">
      <label for="confirmId"><span>*</span>{{'确认' | translate}}</label>
      <input
        class="field"
        type="password"
        id="confirmId"
        autocomplete="off"
        [formControl]="myForm.controls['confirm']"
        [(ngModel)]="params.confirm"
      />
    </div>

    <div
      *ngIf="(myForm.controls['confirm'].hasError('invalidCompare') || myForm.controls['confirm'].hasError('required')) && myForm.controls['confirm'].touched"
      class="message"
    >{{'确认密码为必填且和新密码相同' | translate}}</div>
  </div>

  <div class="buttons">
    <button
      class="tui-btn-md tui-btn-default tui-btn"
      type="reset"
    >{{'COMMON.MODAL.RESET' | translate}}</button>
    <button
      class="tui-btn-md tui-btn-primary tui-btn"
      type="submit"
      [disabled]="!myForm.valid ? 'disabled' : null"
    >{{'COMMON.MODAL.CONFIRM' | translate}}</button>
  </div>
</form>