<div class="container">
  <nav>
    <a routerLink="/account/reset-pwd">忘记密码 ?</a>
    <span>
      <a (click)="switchLang(languages[0].value)" [ngClass]="{ 'selected': getSelected(languages[0].value)}">{{languages[0].name}}</a> |
      <a (click)="switchLang(languages[1].value)" [ngClass]="{ 'selected': getSelected(languages[1].value)}">{{languages[1].name}}</a>
    </span>
  </nav>
  <div class="login">
    <div class="login-info" *ngIf="error">
    </div>
    <div class="login-title">
      <img src="/assets/icons/svg/federation.svg" />
      <span> {{ "LOGIN.FEDERATION" | translate }} </span>
    </div>
    <form class="login-area" [formGroup]="loginForm" (ngSubmit)="submit()"> 
      <div class="input-field"
        *ngIf="role !== roles['federation']"
      >
        <!-- <svg> <use xlink:href="#tenant"></use></svg> -->
        <input 
          type="text" 
          placeholder="{{ 'LOGIN.TENANT' | translate }}"
          name="tenant"
          formControlName="tenant"
        >
      </div>
      <div class="input-field">
        <input 
          type="text"
          placeholder="{{ (role !== roles['federation'] ? 'LOGIN.USERNAME':'LOGIN.USERNAME&EMAIL') | translate }}"
          name="name"
          formControlName="name"
        >
      </div>
      <div class="input-field">
        <input 
          type="password" 
          placeholder="{{ 'LOGIN.PASSWORD' | translate }}"
          name="password"
          formControlName="password"
        >
      </div>
      <div
        class="captcha-field"
        *ngIf="roles.federation === role"
      >
        <div class="input-field">
          <input 
            type="text" 
            placeholder="{{ 'LOGIN.VERIFICATION_CODE' | translate }}"
            name="captcha"
            formControlName="captcha"
          >
        </div>
        <img [src]="captchaUrl" alt="dummy captcha">
      </div>
      <button [disabled]="loginForm.invalid">{{ 'LOGIN.LOGIN' | translate }}</button>
<!--           <div class="checkbox-field">
        <label>
          <input
            type="checkbox"
            name="remember"
            formControlName="remember"
          >{{ 'LOGIN.REMEMBER_PASSWORD' | translate }}
        </label>
      </div> -->
    </form>
    <div class="switcher">
      <a (click)="switchAccountType(roles['federation'])" [ngClass]="{ 'selected': role === roles['federation']}">{{'Federation账号'}}</a> | 
      <a (click)="switchAccountType(roles['other'])" [ngClass]="{ 'selected': role !== roles['federation']}">{{'租户内账号'}}</a> 
      <!-- <a (click)="switchLang(languages[0].value)" [ngClass]="{ 'selected': getSelected(languages[0].value)}">{{languages[0].name}}</a> | 
      <a (click)="switchLang(languages[1].value)" [ngClass]="{ 'selected': getSelected(languages[1].value)}">{{languages[1].name}}</a>  -->
    </div>
  </div>  
  <div class="footer">
    Copyright © 2019 TRANSWARP. All Rights Reserved.
  </div>
</div>
