
<div class="banner-title">
  <div class="left">{{filter.username}}</div>
  <div class="right">
    <tui-input
      class="item"
      placeholder="{{'TENANT.placeholder' | translate}}"
      prefix="user"
      [(ngModel)]="filter.tenant"
      (input)="searchTenants($event)"
    ></tui-input>
    <button
      class="item"
      tuiBtn="primary"
      (click)="showModal(tenant, tenantActionTypes['create'])"
    >{{'TENANT.create' | translate}}</button>
  </div>
</div>

<ul
  class="rectangles"
  [tuiLoading]="loading"
>
  <li *ngFor="let tenant of tenants">
    <span
      class="left"
      [routerLink]="['../', tenant.tenantName]"
    >
      <img src="/assets/icons/svg/letters/A.svg" />
    </span>
    <span class="right">
      <div class="name">
        {{tenant.tenantName}}
        <span
          class="opt up"
          *ngIf="tenant.tenantOwner"
          [tuiDropdownTrigger]="editDropdown"
        >
          <svg tuiIcon="setting"></svg>
          <svg tuiIcon="caret-down"></svg>
        </span>
        <tui-dropdown #editDropdown direction="bottomRight" [caret]="false">
          <tui-dropdown-item 
            (click)="showModal(tenant, tenantActionTypes['edit'])"
          >编辑租户
          </tui-dropdown-item>
          <tui-dropdown-item (click)="showModal(tenant, tenantActionTypes['remove'])">
            删除租户
          </tui-dropdown-item>
        </tui-dropdown>
      </div>
      <p [routerLink]="['../', tenant.tenantName]">{{tenant.description}}</p>
    </span>
    <!-- <p tuiTooltip="{{tenant.attributes?.description}}"
    >{{tenant.attributes?.description || ' - '}}</p> -->
    <!--api not ready for that , so see the description in details-->
  </li>
</ul>
