
<form class="mid ">
  <ng-container *ngIf="!isTenant">
    <div class="view">
      <label>用户类型</label>
      <span class="txt" *ngIf="!isTenant">Federation用户</span>
      <span class="txt" *ngIf="isTenant">租户内用户</span>
    </div>
    <div class="view">
      <label>用户名</label>
      <span class="txt">{{user.username}}</span>
    </div>
    <div class="view">
      <label>邮箱</label>
      <span class="txt">{{user.email}}</span>
    </div>
    <div class="view">
      <label>系统角色</label>
      <span class="marks">
        <mark
          *ngFor="let item of user.roles; let od = odd;"
          [class.c-0083B8]="od"
          [class.c-1D96F3]="!od"
        >{{('COMMON.ROLES.' + item) | translate}}</mark>
      </span>
    </div>
    <div class="view">
      <label>描述</label>
      <span class="txt">{{user.description}}</span>
    </div>
  </ng-container>

  <ng-container *ngIf="isTenant">
    <div class="view">
      <label>用户类型</label>
      <span class="txt">租户内用户</span>
    </div>
    <div class="view">
      <label>租户</label>
      <span class="txt">{{tenant}}</span>
    </div>
    <div class="view">
      <label>用户名</label>
      <span class="txt">{{user.username}}</span>
    </div>
  </ng-container>

  

  <div class="buttons">
    <button
      class="tui-btn-md tui-btn-primary tui-btn"
      type="submit"
      (click)="closeSelf()"
    >{{'COMMON.MODAL.CONFIRM' | translate}}</button>
  </div>
</form>
