<div class="container">
  <div class="login">
    <div class="login-left">
      <img src="../../assets/images/shield.png" alt="shield logo">
    </div>
    <div class="login-right">
      <div class="login-right-title">
        <span>&nbsp;</span>
        <span> {{ "LOGIN.ACCOUNT_VERIFICATION_CENTER" | translate }} </span>
      </div>
      <div class="login-right-forms">
        <div class="login-right-info" *ngIf="error">

        </div>
        <div class="login-right-forms-title">
          {{ "LOGIN.LOGIN" | translate }}
        </div>
        <form class="login-right-forms-area" [formGroup]="loginForm" (ngSubmit)="submit()"> 
            <div class="input-field">
              <svg> <use xlink:href="#tenant"></use></svg>
              <input 
                type="text" 
                placeholder="{{ 'LOGIN.TENANT' | translate }}"
                name="tenant"
                formControlName="tenant"
              >
            </div>
          <div class="input-field">
            <svg> <use xlink:href="#user"></use></svg>
            <input 
              type="text" 
              placeholder="{{ 'LOGIN.USERNAME' | translate }}"
              name="name"
              formControlName="name"
            >
          </div>
          <div class="input-field">
            <svg> <use xlink:href="#lock"></use></svg>
            <input 
              type="password" 
              placeholder="{{ 'LOGIN.PASSWORD' | translate }}"
              name="password"
              formControlName="password"
            >
          </div>
          <!-- <div class="captcha-field">
            <div class="input-field">
              <svg><use xlink:href="#shield"></use></svg>
              <input 
                type="text" 
                placeholder="{{ 'LOGIN.VERIFICATION_CODE' | translate }}"
                name="captcha"
                formControlName="captcha"
              >
            </div>
            <img src="../../assets/images/dummy.jpg" alt="dummy captcha">
          </div> -->
          <button [disabled]="loginForm.invalid">{{ 'LOGIN.LOGIN' | translate }}</button>
          <div class="checkbox-field">
            <input 
              type="checkbox"
              name="remember"
              formControlName="remember"
            >
            <span> {{ 'LOGIN.REMEMBER_PASSWORD' | translate }} </span>
          </div>
        </form>
      </div>
    </div>
  </div>  
  <div class="footer">
    ©2018 TRANSWARP. All Rights Reserved.
  </div>
</div>
