<div class="banner-title">
  <div class="left">
    <tui-select
      class="item"
      placeholder="全部类型"
      [(ngModel)]="filter.role"
      (ngModelChange)="fetchData($event, true)"
      allowClear
      style="width: 150px"
    >
      <tui-select-option
        *ngFor="let option of roles"
        [value]="option"
        [disabled]="option.disabled"
      >
        {{('COMMON.ROLES.' + option) | translate}}
      </tui-select-option>
    </tui-select>
  </div>
  <div class="right">
    <tui-input
      class="item"
      placeholder="{{'用户名、邮箱、描述' | translate}}"
      prefix="user"
      [(ngModel)]="filter.searchValue"
      (input)="fetchData()"
    ></tui-input>
    <!--TODO: 需根据当前用户的权限来判断是否显示“添加用户”按钮。-->
    <button
      *ngIf="'authed'"
      class="item"
      tuiBtn="primary"
      (click)="toUserModal('register')"
    >{{'添加用户' | translate}}</button>
  </div>
</div>

<tui-table [tuiTableFlex]="[3,2,4,2,1.5]" tuiTableOutline>
  <tui-table-head>
    <div>用户</div>
    <div>描述</div>
    <div>
      角色
      <svg
        tuiIcon="user"
        [tuiPopover]="tooltip"
      ></svg>
      <tui-popover #tooltip placement="bottom">
        <div class="popover">
          <p>系统管理员-拥有Federation最高权限的管理员;</p>
          <p>系统访客-拥有Federation所有信息的查看权限；</p>
          <p>用户管理员-拥有Federation用户的管理权限；</p>
          <p>用户信息访客-拥有Federation用户的查看权限；</p>
          <p>租户管理员-拥有Federation内全部租户的管理权限；</p>
          <p>租户信息访客-拥有Federation内全部租户的管理权限。</p>
        </div>
      </tui-popover>
    </div>
    <div>创建时间</div>
    <div>操作</div>
  </tui-table-head>
  <tui-table-row *ngFor="let datum of users" >
    <div>{{datum.username}}</div>
    <div>{{datum.description}}</div>
    <div>
      <span class="marks" *ngIf="datum.roles">
        <mark
          *ngFor="let item of datum.roles"
          class="c-1D96F3"
          [ngStyle]="dynamicStyles(item)"
        >{{('COMMON.ROLES.' + item) | translate}}</mark> 
        <!-- <mark class="c-0083B8">租户管理员</mark>  -->
      </span>
    </div>
    <div>{{datum.createTime | date:'y/M/d HH:mm:ss'}}</div>
    <div>
      <span tuiTooltip="{{'编辑用户' | translate}}">
        <svg tuiIcon="trash" (click)="toUserModal('edit', datum)"></svg>
      </span>
      <span tuiTooltip="{{'重置密码' | translate}}">
        <svg tuiIcon="trash" (click)="toUserModal('reset-pwd', datum)"></svg>
      </span>
      <span tuiTooltip="{{'删除用户' | translate}}">
        <svg tuiIcon="trash" (click)="toUserModal('remove', datum)"></svg>
      </span>
    </div>
  </tui-table-row>
</tui-table>
<tui-pagination
  [(pagination)]="paging"
  (paginationChange)="fetchData()"
  [showSize]="true"
  [showGoTo]="true"
>
</tui-pagination>
