<div class="operation-special right banner-title">
  <tui-input
    class="item"
    *ngIf="selectedIndex===0"
    placeholder="名称，租户名，Client ID"
    [(ngModel)]="filter.searchValue"
    suffix="star"
  ></tui-input>
  <ng-container *ngIf="selectedIndex===1">
    <tui-input
      class="item"
      placeholder="名称"
      [(ngModel)]="filter.searchValue"
      suffix="star"
    ></tui-input>
    <button
      class="item"
      tuiBtn="primary"
      (click)="openAccessTokenModal(actionTypes['create'])"
    >创建Access Token</button>
  </ng-container>
</div>
<tui-tab
  type="card"
  [(selectedIndex)]="selectedIndex"
  (selectedIndexChange)="tabChange($event)"
>
  <div *tuiTabPane="'租户创建'">
    <tui-table [tuiTableFlex]="[3,2,4,3,2,2,1]" tuiTableOutline>
      <tui-table-head>
        <div>名称</div>
        <div>租户</div>
        <div>Client ID</div>
        <div>创建时间</div>
        <div>Access Token</div>
        <div>Refresh Token</div>
        <div>操作</div>
      </tui-table-head>
      <tui-table-row *ngFor="let datum of tenantASToken" >
        <div>{{datum.name}}</div>
        <div>{{datum.tenant}}</div>
        <div>{{datum.clientId}}</div>
        <div>{{datum.createTime | date:'y/M/d HH:mm:ss'}}</div>
        <div>
          <span [tuiDropdownTrigger]="dropdownA">
            <svg tuiIcon="f-table-viewAT"></svg>
            <svg tuiIcon="f-shot-down"></svg>
          </span>
          <tui-dropdown #dropdownA direction="bottomCenter">
            <tui-dropdown-item>
              <span class="dropdown-here">
                <input
                  type="text"
                  value="{{datum['value']}}"
                  #accessTokenInput
                  disabled
                />
                <svg
                  class="icon"
                  tuiIcon="f-copy"
                  ngxClipboard
                  [cbContent]="datum['value']"
                ></svg>
              </span>
              <p class="dropdown-p">更新时间： {{datum['refreshTime'] | date:'y/M/d HH:mm:ss'}}</p>
              <p class="dropdown-p">过期时间： {{datum['refreshTime'] | date:'y/M/d HH:mm:ss'}}</p>
              <p class="dropdown-p">
                <span tuiTooltip="{{datum['validitySeconds']}} 秒">
                  有效期： {{ datum['validitySeconds']/3600 }} 小时
                </span>
              </p>
            </tui-dropdown-item>
          </tui-dropdown>
        </div>
        <div>
          <ng-container *ngIf="!datum.refreshToken"><无></ng-container>
          <ng-container *ngIf="!!datum.refreshToken">
            <span [tuiDropdownTrigger]="dropdownB">
              <svg tuiIcon="f-table-viewAT"></svg>
              <svg tuiIcon="f-shot-down"></svg>
            </span>
            <tui-dropdown #dropdownB direction="bottomCenter">
              <tui-dropdown-item>
                <span class="dropdown-here">
                  <input
                    type="text"
                    value="{{datum['refreshToken']['value']}}"
                    #accessTokenInput
                    disabled
                  />
                  <svg
                    class="icon"
                    tuiIcon="f-copy"
                    ngxClipboard
                    [cbContent]="datum['refreshToken']['value']"
                  ></svg>
                </span>
                <p class="dropdown-p">过期时间： {{datum['refreshToken']['expireTime'] | date:'y/M/d HH:mm:ss'}}</p>
                <p class="dropdown-p">
                  <span tuiTooltip="{{datum['refreshToken']['validitySeconds']}} 秒">
                    有效期： {{ datum['refreshToken']['validitySeconds']/3600 }} 小时
                  </span>
                </p>
              </tui-dropdown-item>
            </tui-dropdown>
          </ng-container>
        </div>
        <div>
          <span tuiTooltip="{{'删除' | translate}}">
            <svg tuiIcon="f-table-remove" (click)="openAccessTokenModal(actionTypes['remove'], datum)"></svg>
          </span>
        </div>
      </tui-table-row>
    </tui-table>

    <tui-pagination
      [(pagination)]="tenantPaging"
      (paginationChange)="fetchTokens('USER ', tenantPaging, true)"
      [showSize]="true"
      [showGoTo]="true"
    >
    </tui-pagination>
  </div>
  <div *tuiTabPane="'自定义'">
    <tui-table [tuiTableFlex]="[2,2,1,1,1,1,1]" tuiTableOutline>
      <tui-table-head>
        <div>名称</div>
        <div>创建时间</div>
        <div>Access Token</div>
        <div>Refresh Token</div>
        <div>自定义信息</div>
        <div>自动刷新</div>
        <div>操作</div>
      </tui-table-head>
      <tui-table-row *ngFor="let datum of ownASToken" >
        <div>
          <span class="one-line-ellipsis" style="width: 240px">{{datum.name}}</span>
        </div>
        <div>{{datum.createTime | date:'y/M/d HH:mm:ss'}}</div>
        <div>
          <span [tuiDropdownTrigger]="dropdownA">
            <svg tuiIcon="f-table-viewAT"></svg>
            <svg tuiIcon="f-shot-down"></svg>
          </span>
          <tui-dropdown #dropdownA direction="bottomCenter">
            <tui-dropdown-item>
              <span class="dropdown-here">
                <input
                  type="text"
                  value="{{datum['value']}}"
                  #accessTokenInput
                  disabled
                />
                <svg
                  class="icon"
                  tuiIcon="f-copy"
                  ngxClipboard
                  [cbContent]="datum['value']"
                  (cbOnSuccess)="copy(datum['value'])"
                ></svg>
              </span>
              <p class="dropdown-p">更新时间： {{datum['refreshTime'] | date:'y/M/d HH:mm:ss'}}</p>
              <p class="dropdown-p">过期时间： {{datum['refreshTime'] | date:'y/M/d HH:mm:ss'}}</p>
              <p class="dropdown-p">
                <span tuiTooltip="{{datum['validitySeconds']}} 秒">
                  有效期： {{ datum['validitySeconds']/3600 }} 小时
                </span>
              </p>
            </tui-dropdown-item>
          </tui-dropdown>
        </div>
        <div>
          <span [tuiDropdownTrigger]="dropdownB">
            <svg tuiIcon="f-table-viewAT"></svg>
            <svg tuiIcon="f-shot-down"></svg>
          </span>
          <tui-dropdown #dropdownB direction="bottomCenter">
            <tui-dropdown-item>
              <span class="dropdown-here">
                <input
                  type="text"
                  value="{{datum['refreshToken']['value']}}"
                  #accessTokenInput
                  disabled
                />
                <svg
                  class="icon"
                  tuiIcon="f-copy"
                  ngxClipboard
                  [cbContent]="datum['refreshToken']['value']"
                  (cbOnSuccess)="copy(datum['refreshToken']['value'])"
                ></svg>
              </span>
              <p
                *ngIf="!datum['refreshToken']['expireTime']"
                class="dropdown-p"
              >一直有效</p>
              <ng-container *ngIf="datum['refreshToken']['expireTime']">
                <p
                  class="dropdown-p"
                >过期时间： {{datum['refreshToken']['expireTime'] | date:'y/M/d HH:mm:ss'}}</p>
                <p class="dropdown-p">
                  <span tuiTooltip="{{datum['refreshToken']['validitySeconds']}} 秒">
                    有效期： {{ datum['refreshToken']['validitySeconds']/3600 }} 小时
                  </span>
                </p>
              </ng-container>
            </tui-dropdown-item>
          </tui-dropdown>
        </div>
        <div>
          <ng-container *ngIf="!datum.attributes"><无></ng-container>
          <ng-container *ngIf="!!datum.attributes">
            <span
              [tuiPopover]="tooltip"
              class="ellipsis"
            >...</span>
            <tui-popover #tooltip placement="bottom">
              <div class="popover">
                <p *ngFor="let item of datum.attributes">{{'"' + item.key + '" = "' + item.value + '""'}}</p>
              </div>
            </tui-popover>
          </ng-container>
        </div>
        <div
          [class.c-46C779]="datum.status === 'SCHEDULED'"
          [class.c-FEC14D]="datum.status === 'STOPPED'"
        >
          <ng-container *ngIf="!!datum.refreshToken">
            {{datum.status}}
            <svg
              tuiIcon="trash"
              (click)="openAccessTokenModal(actionTypes['refresh'], datum)"
            ></svg>
          </ng-container>
          <ng-container *ngIf="!!datum.status"> - </ng-container>
        </div>
        <div>
          <span tuiTooltip="{{'立即刷新' | translate}}">
            <svg tuiIcon="trash" (click)="toRefreshNow(datum)"></svg>
          </span>
          <span tuiTooltip="{{'删除用户' | translate}}">
            <svg tuiIcon="f-table-remove" (click)="openAccessTokenModal('remove', datum)"></svg>
          </span>
        </div>
      </tui-table-row>
    </tui-table>
    <tui-pagination
      [(pagination)]="ownPaging"
      (paginationChange)="fetchTokens('USER ', ownPaging, true)"
      [showGoTo]="true"
    >
    </tui-pagination>
  </div>
</tui-tab>
