<div class="operation-special right banner-title">
  <tui-input
    class="item"
    *ngIf="selectedIndex===0"
    placeholder="{{'COMMON.MODULES.ATSearchPlaceholder' | translate}}"
    [(ngModel)]="filter.searchValue"
    suffix="f-operate-find"
  ></tui-input>
  <ng-container *ngIf="selectedIndex===1">
    <tui-input
      class="item"
      placeholder="{{'COMMON.MODULES.name' | translate}}"
      [(ngModel)]="filter.searchValue"
      suffix="f-operate-find"
    ></tui-input>
    <button
      class="item"
      tuiBtn="primary"
      (click)="openAccessTokenModal(actionTypes['create'])"
    >{{'COMMON.MODULES.createAT' | translate}}</button>
  </ng-container>
</div>
<tui-tab
  type="card"
  [(selectedIndex)]="selectedIndex"
  (selectedIndexChange)="tabChange($event)"
>
  <div *tuiTabPane="'COMMON.MODULES.tenantCreate' | translate">
    <tui-table [tuiTableFlex]="[3,2,4,3,2,2,1]" tuiTableOutline [tuiLoading]="loading">
      <tui-table-head>
        <div>{{'COMMON.MODULES.name' | translate}}</div>
        <div>{{'COMMON.MODULES.tenant' | translate}}</div>
        <div>{{'COMMON.MODULES.clientId' | translate}}</div>
        <div>{{'COMMON.MODULES.createTime' | translate}}</div>
        <div>{{'COMMON.MODULES.accessToken' | translate}}</div>
        <div>{{'COMMON.MODULES.refreshToken' | translate}}</div>
        <div>{{'COMMON.OPERATION.operate' | translate}}</div>
      </tui-table-head>
      <tui-table-row *ngFor="let datum of tenantASToken" >
        <div>
          <span class="one-line-ellipsis" style="width: 160px">{{datum.name}}</span>
        </div>
        <div>{{datum.tenant}}</div>
        <div>{{datum.clientId}}</div>
        <div>{{datum.createTime | date:'y/M/d HH:mm:ss'}}</div>
        <div>
          <span [tuiDropdownTrigger]="dropdownA">
            <svg tuiIcon="f-table-viewAT"></svg>
            <svg tuiIcon="f-shot-down"></svg>
          </span>
          <tui-dropdown #dropdownA direction="bottomCenter">
            <tui-dropdown-item>
              <span class="dropdown-here">
                <input
                  type="text"
                  value="{{datum['value']}}"
                  #accessTokenInput
                  disabled
                />
                <svg
                  class="icon"
                  tuiIcon="f-copy"
                  ngxClipboard
                  [cbContent]="datum['value']"
                ></svg>
              </span>
              <p class="dropdown-p">{{'COMMON.MODULES.refreshAt' | translate}}： {{datum['refreshTime'] | date:'y/M/d HH:mm:ss'}}</p>
              <p class="dropdown-p">{{'COMMON.MODULES.expireAt' | translate}}： {{datum['refreshTime'] | date:'y/M/d HH:mm:ss'}}</p>
              <p class="dropdown-p">
                <span tuiTooltip="{{datum['validitySeconds']}} {{'COMMON.UNITS.second' | translate}}">
                  {{'COMMON.MODULES.expire' | translate}}： {{ datum['validitySeconds']/3600 }} {{'COMMON.UNITS.hour' | translate}}
                </span>
              </p>
            </tui-dropdown-item>
          </tui-dropdown>
        </div>
        <div>
          <ng-container *ngIf="!datum.refreshToken"><{{'COMMON.MODULES.empty' | translate}}></ng-container>
          <ng-container *ngIf="!!datum.refreshToken">
            <span [tuiDropdownTrigger]="dropdownB">
              <svg tuiIcon="f-table-viewAT"></svg>
              <svg tuiIcon="f-shot-down"></svg>
            </span>
            <tui-dropdown #dropdownB direction="bottomCenter">
              <tui-dropdown-item>
                <span class="dropdown-here">
                  <input
                    type="text"
                    value="{{datum['refreshToken']['value']}}"
                    #accessTokenInput
                    disabled
                  />
                  <svg
                    class="icon"
                    tuiIcon="f-copy"
                    ngxClipboard
                    [cbContent]="datum['refreshToken']['value']"
                  ></svg>
                </span>
                <p class="dropdown-p">{{'COMMON.MODULES.expireAt' | translate}}： {{datum['refreshToken']['expireTime'] | date:'y/M/d HH:mm:ss'}}</p>
                <p class="dropdown-p">
                  <span tuiTooltip="{{datum['refreshToken']['validitySeconds']}} 秒">
                    {{'COMMON.MODULES.expire' | translate}}： {{ datum['refreshToken']['validitySeconds']/3600 }} {{'COMMON.UNITS.hour' | translate}}
                  </span>
                </p>
              </tui-dropdown-item>
            </tui-dropdown>
          </ng-container>
        </div>
        <div>
          <span tuiTooltip="{{'COMMON.OPERATION.remove' | translate}}">
            <svg tuiIcon="f-table-remove" (click)="openAccessTokenModal(actionTypes['remove'], datum)"></svg>
          </span>
        </div>
      </tui-table-row>
    </tui-table>
    <tui-pagination
      [(pagination)]="tenantPaging"
      (paginationChange)="fetchTokens('CLIENT', 'tenantPaging', true)"
      [showTotal]="false"
      [showGoTo]="false"
    ></tui-pagination>
  </div>
  <div *tuiTabPane="'COMMON.MODULES.ownDefined' | translate">
    <tui-table [tuiTableFlex]="[2,1.5,1,1,0.8,1.5,1]" tuiTableOutline [tuiLoading]="loading">
      <tui-table-head>
        <div>{{'COMMON.MODULES.name' | translate}}</div>
        <div>{{'COMMON.MODULES.createTime' | translate}}</div>
        <div>{{'COMMON.MODULES.accessToken' | translate}}</div>
        <div>{{'COMMON.MODULES.refreshToken' | translate}}</div>
        <div>{{'COMMON.MODULES.ownDefinedInfo' | translate}}</div>
        <div>{{'COMMON.MODULES.autoRefresh' | translate}}</div>
        <div>{{'COMMON.OPERATION.operate' | translate}}</div>
      </tui-table-head>
      <tui-table-row *ngFor="let datum of ownASToken" >
        <div>
          <span class="one-line-ellipsis" style="width: 240px">{{datum.name}}</span>
        </div>
        <div>{{datum.createTime | date:'y/M/d HH:mm:ss'}}</div>
        <div>
          <span [tuiDropdownTrigger]="dropdownA">
            <svg tuiIcon="f-table-viewAT"></svg>
            <svg tuiIcon="f-shot-down"></svg>
          </span>
          <tui-dropdown #dropdownA direction="bottomCenter">
            <tui-dropdown-item>
              <span class="dropdown-here">
                <input
                  type="text"
                  value="{{datum['value']}}"
                  #accessTokenInput
                  disabled
                />
                <svg
                  class="icon"
                  tuiIcon="f-copy"
                  ngxClipboard
                  [cbContent]="datum['value']"
                  (cbOnSuccess)="copy(datum['value'])"
                ></svg>
              </span>
              <p class="dropdown-p">{{'COMMON.MODULES.refreshAt' | translate}}： {{datum['refreshTime'] | date:'y/M/d HH:mm:ss'}}</p>
              <p class="dropdown-p">{{'COMMON.MODULES.expireAt' | translate}}： {{datum['expireTime'] | date:'y/M/d HH:mm:ss'}}</p>
              <p class="dropdown-p">
                <span tuiTooltip="{{datum['validitySeconds']}} {{'COMMON.UNITS.second' | translate}}">
                  {{'COMMON.MODULES.expire' | translate}}： {{ datum['validitySeconds']/3600 }} {{'COMMON.UNITS.hour' | translate}}
                </span>
              </p>
            </tui-dropdown-item>
          </tui-dropdown>
        </div>
        <div>
          <span [tuiDropdownTrigger]="dropdownB">
            <svg tuiIcon="f-table-viewAT"></svg>
            <svg tuiIcon="f-shot-down"></svg>
          </span>
          <tui-dropdown #dropdownB direction="bottomCenter">
            <tui-dropdown-item>
              <span class="dropdown-here">
                <input
                  type="text"
                  value="{{datum['refreshToken']['value']}}"
                  #accessTokenInput
                  disabled
                />
                <svg
                  class="icon"
                  tuiIcon="f-copy"
                  ngxClipboard
                  [cbContent]="datum['refreshToken']['value']"
                  (cbOnSuccess)="copy(datum['refreshToken']['value'])"
                ></svg>
              </span>
              <p
                *ngIf="!datum['refreshToken']['expireTime']"
                class="dropdown-p"
              >{{'COMMON.MODULES.noExpire' | translate}}</p>
              <ng-container *ngIf="datum['refreshToken']['expireTime']">
                <p
                  class="dropdown-p"
                >{{'COMMON.MODULES.expireAt' | translate}}： {{datum['refreshToken']['expireTime'] | date:'y/M/d HH:mm:ss'}}</p>
                <p class="dropdown-p">
                  <span tuiTooltip="{{datum['refreshToken']['validitySeconds']}} {{'COMMON.UNITS.second' | translate}}">
                    {{'COMMON.MODULES.expire' | translate}}： {{ datum['refreshToken']['validitySeconds']/3600 }} {{'COMMON.UNITS.hour' | translate}}
                  </span>
                </p>
              </ng-container>
            </tui-dropdown-item>
          </tui-dropdown>
        </div>
        <div>
          <ng-container *ngIf="!datum.attributes"><{{'COMMON.MODULES.empty' | translate}}></ng-container>
          <ng-container *ngIf="!!datum.attributes">
            <span
              [tuiPopover]="tooltip"
              class="ellipsis"
            >...</span>
            <tui-popover #tooltip placement="bottom">
              <div class="popover">
                <p *ngFor="let item of datum.attributes">{{'"' + item.key + '" = "' + item.value + '""'}}</p>
              </div>
            </tui-popover>
          </ng-container>
        </div>
        <div
          [class.c-46C779]="datum.task?.status === 'SCHEDULED'"
          [class.c-FEC14D]="datum.task?.status === 'STOPPED'"
          [class.c-A2A9BB]="!datum.task"
        >
          <ng-container *ngIf="!datum.task">
            {{'COMMON.MODULES.noExist' | translate}}
            <svg
              tuiIcon="f-operate-right"
              (click)="openAccessTokenModal(actionTypes['taskCreate'], datum)"
              class="pointer"
            ></svg>
          </ng-container>
          <ng-container *ngIf="!!datum.task">
            <ng-container *ngIf="!!datum.task">{{datum.task?.status}}</ng-container>
            <svg
              tuiIcon="f-operate-right"
              (click)="openAccessTokenModal(actionTypes['refresh'], datum)"
              class="pointer"
            ></svg>
          </ng-container>
          <ng-container *ngIf="!datum.refreshToken"> - </ng-container>
        </div>
        <div>
          <span tuiTooltip="{{'COMMON.MODULES.refreshNow' | translate}}"
            class="mg-right-12"
          >
            <svg tuiIcon="f-table-pull" (click)="toRefreshNow(datum)"></svg>
          </span>
          <span tuiTooltip="{{'COMMON.OPERATION.removeUser' | translate}}">
            <svg tuiIcon="f-table-remove" (click)="openAccessTokenModal('remove', datum)"></svg>
          </span>
        </div>
      </tui-table-row>
    </tui-table>
    <tui-pagination
      [(pagination)]="ownPaging"
      (paginationChange)="fetchTokens('USER ', 'ownPaging', true)"
      [showTotal]="false"
      [showGoTo]="false"
    ></tui-pagination>
  </div>
</tui-tab>
